<div class="heading">
  <%- include('../toggle') %>
  <%- title %>

  <ul class="menu">
    <li><a href="/dashboard/sign_out">Sign out</a></li>
  </ul>
</div>

<section class="section">
  <div class="content">
    <form class="form" action="<%- action %>" method="post">
      <div class="field">
        <label>Email Address</label>
        <input type="email" name="email" value="<%- email %>" required=true>
      </div>

      <div class="field">
        <label>New Password</label>
        <input type="password" name="password" required=true>
      </div>

      <div class="field">
        <input type="hidden" name="_csrf" value="<%- csrf %>">
        <input class="button" type="submit" value="Update">
      </div>
    </form>
  </div>
</section>
