<h1 class="heading">
  <%- include('../toggle') %>
  Delete <%- record.section.labelSingular %>
</h1>

<section class="section">
  <div class="content">
    <p>Are you sure you'd like to delete this <%- record.section.labelSingular.toLowerCase() %>?</p>

    <table class="table">
      <tbody>
        <% record.section.tableColumns.forEach(key => { %>
        <tr>
          <td><%- key %></td>
          <td><%- record.content[key.toLowerCase()] %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <br>

    <form action="<%- requestURL %>" method="post">
      <div class="submit field">
        <input type="hidden" name="_csrf" value="<%- csrf %>">
        <input type="submit" class="red button" value="Delete">
      </div>
    </form> 
  </div>
</section>
