<div class="heading">
  <%- include('../toggle') %>
  <%- title %>
  
  <ul class="basic fixed menu">
    <li><a href="/dashboard/sections/<%- section.id %>/records/new" class="small button">New <%- section.labelSingular %></a></li>
  </ul>
</div>

<section class="section">
  <div class="wide content">
    <table class="preview table <%- tableAction %>">
      <thead>
        <tr>
          <% section.tableColumnsHeaders.forEach(header => { %>
          <th><%- header %></th>
          <% }) %>
          <th class="no-sort"></th>
        </tr>
      </thead>
      <tbody>
        <% section.records.forEach(record => { %>
        <tr data-id="<%- record.id %>">
          <% section.tableColumns.forEach(key => { %>
          <td><%- record.previewContent(key.toLowerCase(), section) %></td>
          <% }) %>
          <td class="right aligned">
            <a href="/dashboard/records/<%- record.id %>/edit" class="small basic button">
              Edit
            </a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table> 
  </div> 
</section>
